/* Set the background color. */
body {
    margin: 0;
    background-color: rgb(150, 157, 163);
}

/* Set margins of text-heavy elements */
header, footer {
    margin-left: 2%;
    margin-right: 2%;
}

/* Set the look of the dividers. */
.divider {
    height: 1px;
    background-color: black;
}

/* Option class represents buttons that control the user's tools. */
.option {
    width: 64px;
    height: 64px;
}

/* Set the main container properties. */
#main-container {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

/* Set the options container properties. */
#option-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2%;
}
