/* Set the background color. */
body {
    margin: 0;
    background-color: rgb(243, 180, 103);
}

/* Set margins of text-heavy elements */
header, footer {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

/* Set the look of the dividers. */
.divider {
    height: 1px;
    background-color: black;
}

/* Set the main container properties. */
#main-container {
    display: flex;
}

/* Set the options container properties. */
#option-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

/* Option class represents buttons that control the user's tools. */
.option {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid rgb(180, 179, 179);
    border-radius: 5px;
}

