body {
    margin: 0;
    background-color: rgb(12, 181, 211);
}

main {
    background-color: rgb(255, 213, 173);
}

header, footer {
    text-align: center;
}

.divider {
    height: 1px;
    background-color: black;
}

#main-container {
    display: flex;
}

#option-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

/* Option class represents buttons that control the user's tools. */
.option {
    box-sizing: content-box;
    width: 48px;
    height: 48px;
    padding: 1px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid rgb(180, 179, 179);
    border-radius: 5px;
}
.option:hover {
    background-color: rgb(201, 201, 201);
}